@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,700&display=swap');

/* Universal and Element Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Courier Prime", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

/* Start Header Section */
header {
    height: 90vh;
    background-color: black;
}

nav {
    text-align: center;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #e866a2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

nav a {
    font-size: 23px;
    margin: 0 45px;
    color: #e866a2;
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
}

nav a i {
    font-size: 30px;
    margin: 10px 0;
}

#intro {
    text-align: center;
}

#intro h1 {
    letter-spacing: 10px;
    margin-top: 100px;
    margin-bottom: 90px;
    font-size: 100px;
    color: white;
    padding-top: 150px;
}

#intro span {
    color: #c62d70;
}

#intro p {
    font-size: 20px;
    border: 8px solid white;
    border-radius: 10px;
    padding: 30px;
    margin: 0 70px;
    color: #c62d70;
    letter-spacing: 2px;
}

#intro p span {
    color: white;
}

#arrow {
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    padding-bottom: 20px;
}

#arrow i {
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    color: #c62d70;
}
/* End Header Section */

/* Start About Me Section */
#about {
    margin-bottom: 50px;
}

#about h2, .heading {
    text-align: center;
    margin: 30px 0 20px 0;
    font-size: 30px;
    color: #e866a2;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#about .card-container {
    border: 2px solid #e866a2;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    margin: 20px 80px 0 80px;
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
}

.avatar-image {
    margin: 50px;
    border-radius: 5px;
}

.avatar-image img {
    width: 300px;
    height: 350px;
}

#about .about-content {
    margin-top: 20px;
    padding-right: 10px;
}

article {
    line-height: 22px;
}
/* End About Me Section */

/* Start Projects Section */
#projects {
    background-color: black;
    /*
    background-image: url(/assets/images/banner.webp);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    */
}
/* End Projects Section */

/* Start skills Section */
#skills {
    margin: 40px 0; 
}

#skills .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#skills .icons i {
    margin: 0 50px;
    padding: 20px 0;
}

#skills .icons p {
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}

.code-logo {
    background-color: pink;
    margin: 0 30px;
    border-radius: 50%;
    padding: 15px;
}
/* End Skills Section */

/* Start Contact Section */
#contact {
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: #e866a2;
    padding: 80px;
}

.contact-section img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.social {
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

.social a {
    background-color: white;
    border-radius: 50%;
    padding: 5px 12px;
}

.social a i {
    color: #e866a2;
    font-size: 20px;
}
 
.form h2 {
    text-align: center;
}

form {
    background-color: white;
    border-radius: 15px;
}

input, label {
    display: block;
}

form {
    padding: 0 20px 20px 20px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
}

form h2 {
    padding: 20px 0 0 0;
}

.form-input {
    margin: 20px;
    padding-bottom: 8px;
}

.form-input label {
    padding-bottom: 4px;
}

.form-input input {
    height: 30px;
    padding-left: 10px;
}

.first-name-input {
    float: left;
}

.last-name-input {
    float: right;
}

.email-input input, textarea {
    width: 100%;
}

textarea {
    height: 100px;
}

button {
    display: block;
    margin: 0 auto;
    font-size: 15px;
    padding: 9px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
    color: #e866a2;
    background-color: pink;
}

button:hover {
    box-shadow: 5px 5px 6px rgba(0,0,0,0.4);
}
/* End Contact Section */


/* Start Footer Section */
footer {
    padding: 40px;
    color: black;
    border-top: 2px solid #e866a2;
}

.top-footer {
    text-align: center;
    color: #c62d70;
    font-size: 30px;
}

.bottom-footer {
    text-align: center;
    margin-top: 20px;
}

.links {
    margin-bottom: 20px;
}

.links a  {
    color:#e866a2;
}

.links a span {
    color: black;
}

.links a:hover {
    color: #c62d70;
}
/* End Footer Section */

/* Media Queries */
@media screen and (max-width: 1400px) {
    header {
        height: auto;
    }
}

@media screen and (max-width: 900px) {

    /* About Section */
    .about-content h2 {
        position: relative;
        top: -80px;
    }

    article {
        position: relative;
        top: -60px;
        padding: 0 30px;
    }

    #about .card-container {
        flex-direction: column;
    }

    .avatar-image {
        text-align: center;
    }

    /* Skills Section */
    #skills .icons {
        flex-direction: column;
    }


    /* Contact Section */
    #contact {
        flex-direction: column;
    }

    .contact-section p {
        text-align: center;
    }

    .social  {
        padding-bottom: 30px;
    }

}

@media screen and (min-width: 770px) and (max-width: 890px) {

    #skills {
        margin: 40px 50px;
    }

    #skills .icons {
        flex-direction: row;
        font-size: 30px;
    } 
}

@media screen and (max-width: 768px) {

    /* Header Section */
    nav {
        flex-direction: row;
    }

    nav a {
        font-size: 13px;
    }

    nav a i {
        font-size: 20px;
    }

    #intro h1 {
        font-size: 80px;
    }

    /* About Section */
    #about .card-container {
        flex-direction: column;
    }

    article {
        text-align: center;
        font-size: 15px;
    }

    #contact {
        flex-direction: column;
    }

    /* Skills Section */
    #skills .icons {
        flex-direction: column;
    }

    .code-logo {
        margin: 10px;
    }

    /* Footer Section */
    .top-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-footer h2 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {

    /* Header Section */
    #intro h1 {
        font-size: 70px;
    }

    /* About Section */
    .about-content h2 {
        font-size: 10px;
    }

    .avatar-image img {
        width: 250px;
    }

    /* Footer Section */
    .links a span {
        display: hidden;
    }
}