/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,700&display=swap');

/* Universal and Element Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Courier Prime", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

section {
    scroll-margin-top: 10rem;
}

/* Start Header Section */
header {
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1520052205864-92d242b3a76b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #e866a2;
}

nav {
    text-align: center;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color: white;
    border-bottom: 2px solid #e866a2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

nav a {
    font-size: 23px;
    margin: 0 45px;
    color: #e866a2;
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
}

nav a i {
    font-size: 30px;
    margin: 10px 0;
}

#intro {
    text-align: center;
}

#intro h1 {
    letter-spacing: 10px;
    margin-top: 100px;
    margin-bottom: 90px;
    font-size: 100px;
    color: white;
    padding-top: 150px;
}

#intro span {
    color: #c62d70;
}

#intro p {
    font-size: 20px;
    border: 8px solid white;
    border-radius: 10px;
    padding: 30px;
    margin: 0 70px;
    color: #c62d70;
    letter-spacing: 2px;
}

#intro p span {
    color: white;
}

#header-image img {
    display: block;
    margin: 40px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/* End Header Section */

/* Start About Me Section */
#about {
    margin-bottom: 50px;
}

#about h2, .heading {
    text-align: center;
    margin: 30px 0 20px 0;
    font-size: 30px;
    color: #e866a2;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#about .card-container {
    border: 2px solid #e866a2;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    margin: 20px 80px 0 80px;
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
}

.avatar-image {
    margin: 50px;
    border-radius: 5px;
}

.avatar-image img {
    width: 350px;
    height: 350px;
}

#about .about-content {
    margin-top: 80px;
    padding-right: 40px;
}

article {
    line-height: 22px;
}
/* End About Me Section */

/* Start Projects Section */
#projects {
    background-image: url(https://img.wallpapersafari.com/desktop/1024/576/26/19/0MN6th.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 15px;
    padding-bottom: 40px;
    border-top: 2px solid #e866a2;
    border-bottom: 2px solid #e866a2;
}

#projects h2 {
    padding-bottom: 15px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.card {
    background-color: white;
    margin: 0 50px;
    width: 350px;
    height: 220px;
    border-radius: 10px;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/500/483/798/pastel-purple-background-wallpaper-preview.jpg);
    box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.2); 
}

.card1 {
    display: block;
    margin: 0 auto;
    width: 500px;
    padding-top: 5px;
    background-image: url(https://media.istockphoto.com/photos/plus-minus-divide-multiply-symbols-picture-id1061654982?k=20&m=1061654982&s=612x612&w=0&h=AF7EKVyHEYobMaBPfy3R88IA8n22Tr9VN8hUvShVXww=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.big-card {
    margin-bottom: 40px;
}

.card2 {
    background-image: url(https://lh3.googleusercontent.com/SRVHBtkCh89wS7UGq7pVlOwbyjGCMNKjo5K9Nmk7tgP-zF9DMxMjXF6Y05kobo--8qmah36BIzpLci8-BPqQ3HYwbAs=w640-h400-e365-rj-sc0x00ffffff);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card3 {
    background-image: url(https://play-lh.googleusercontent.com/dvPnZK6yR0kw-nM0Vfcy7lNDmdYS50QMCa7318emsFIieB7AtbdJC0ykSv1tczw6udA);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card4 {
    background-image: url(../images/somewhere.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card:hover {
    box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);     
}

.card-content {
    padding-top: 10%;
}

.card-heading h3 {
    text-align: center;
    color: #e866a2;
    background-color: pink;
    padding: 15px;
    border-radius: 10px;
    margin: 30px;
}
/* End Projects Section */

/* Start Skills Section */
#skills {
    margin: 40px 0; 
}

#skills .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#skills .icons i {
    margin: 0 50px;
    padding: 20px 0;
    color: #c62d70;
}

#skills .icons p {
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
    color: black;
}

.code-logo {
    border: 2px solid #c62d70;
    background-color: #FFB6C1;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
    margin: 0 30px;
    border-radius: 50%;
    padding: 15px;
}

.code-logo:hover {
    background-color: white;
    transform: rotate(0.5deg) scale(1.2);
}
/* End Skills Section */

/* Start Contact Section */
#contact {
    background-image: url(https://images.unsplash.com/photo-1520052205864-92d242b3a76b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    color: #e866a2;
    padding: 80px;
    border-top: 2px solid #e866a2;
}

.contact-section {
    margin-top: 50px;
}

.contact-section img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.social {
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

.social a {
    background-color: white;
    border-radius: 50%;
    padding: 5px 12px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
}

.social a i {
    color: #e866a2;
    font-size: 20px;
}
 
.form h2 {
    text-align: center;
}

form {
    background-color: white;
    border-radius: 15px;
    width: 450px;
    padding: 0 20px 20px 20px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
}

input, label {
    display: block;
    width: 100%;
}

input {
    border: 1px solud black;
}

form h2 {
    padding: 20px 0 0 0;
}

.form-input {
    margin: 20px;
    padding-bottom: 8px;
}

.form-input label {
    padding-bottom: 4px;
    margin-bottom: 7px;
}

.form-input input {
    height: 40px;
    padding-left: 10px;
}

.email-input input, textarea {
    width: 100%;
}

textarea {
    height: 100px;
    padding: 10px;
}

#contact button {
    display: block;
    margin: 0 auto;
    font-size: 15px;
    padding: 9px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.2);
    color: #e866a2;
    background-color: pink;
}

#contact button:hover {
    box-shadow: 5px 5px 6px rgba(0,0,0,0.4);
}
/* End Contact Section */

/* Start Footer Section */
footer {
    padding: 40px;
    color: black;
    border-top: 2px solid #e866a2;
}

.top-footer {
    text-align: center;
    color: #c62d70;
    font-size: 30px;
}

.bottom-footer {
    text-align: center;
    margin-top: 20px;
}

.links {
    margin-bottom: 20px;
}

.links a  {
    color:#e866a2;
}

.links a span {
    color: black;
}

.links a:hover {
    color: #c62d70;
}
/* End Footer Section */

/* Media Queries */
@media screen and (max-width: 1400px) {

    /* Header Section */
    header {
        height: auto;
    }
}

@media screen and (max-width: 900px) {

    /* About Section */
    #about .about-content {
        padding-right: 10px;
    }

    .about-content h2 {
        position: relative;
        top: -80px;
    }

    article {
        position: relative;
        top: -60px;
        padding: 0 30px;
    }

    #about .card-container {
        flex-direction: column;
    }

    .avatar-image {
        text-align: center;
    }

    .card1 {
        text-align: center;
    }

    /* Skills Section */
    #skills .icons {
        flex-direction: column;
    }

    /* Contact Section */
    #contact {
        flex-direction: column;
    }

    .contact-section p {
        text-align: center;
    }

    .social  {
        padding-bottom: 30px;
    }

}

@media screen and (min-width: 880px) and (max-width: 1300px) {

    /* Project Section */
   .card-wrapper {
       flex-direction: column;
   }

   .card {
       margin: 30px 0;
   }

   .card1 {
        display: block;
        margin: 0 auto;
    }

    .big-card {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 770px) and (max-width: 890px) {

    /* Skills Section */
    #skills {
        margin: 40px 50px;
    }

    #skills .icons {
        flex-direction: row;
        font-size: 30px;
    } 

    /* Profile Section */
    .card-wrapper {
        flex-direction: column;
    }

    .card {
        margin: 20px 50px;
        width: 400px;
    }

    .card1 {
        display: block;
        margin: 0 auto;
    }

    .big-card {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {

    /* Header Section */
    nav {
        flex-direction: row;
        background-color: white;
    }

    nav a {
        font-size: 13px;
        margin: 0 auto;
    }

    nav a i {
        font-size: 20px;
    }

    #intro h1 {
        font-size: 80px;
    }

    /* About Section */
    #about .card-container {
        flex-direction: column;
    }

    article {
        text-align: center;
        font-size: 15px;
    }

    /* Contact Section */
    #contact {
        flex-direction: column;
    }
    
    /* Profile Section */
    .card-wrapper {
        flex-direction: column;
    }

    .card {
        margin: 20px 50px;
        width: 400px;
    }

    .card1 {
        display: block;
        margin: 0 auto;
    }

    .big-card {
        margin-bottom: 30px;
    }

    /* Skills Section */
    #skills .icons {
        flex-direction: column;
    }

    .code-logo {
        margin: 10px;
    }

    /* Footer Section */
    .top-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-footer h2 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {

    /* Header Section */
    #intro h1 {
        font-size: 70px;
    }

    /* About Section */
    .about-content h2 {
        font-size: 10px;
    }

    /* Project Section */
    #big-card-content {
        display: block;
        margin: 0 auto;
    }

    .card1 {
        margin-bottom: 20px;
    }

    /* Contact Section */
    #contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Footer Section */
    .links a span {
        display: hidden;
    }
}

@media screen and (max-width: 580px) {
    .avatar-image img {
        width: 250px;
        height: 300px;
        margin: 0 auto;
    }
}