@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,700&display=swap');

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Courier Prime", sans-serif;
}

/* Start Header Section */
header {
    height: 90vh;
    background-color: black;
    background-image: url(./assets/images/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    text-align: center;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #e866a2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

nav a {
    font-size: 23px;
    margin: 0 45px;
    color: #e866a2;
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
}

nav a i {
    font-size: 30px;
    margin: 10px 0;
}

#intro {
    text-align: center;
}

#intro h1 {
    letter-spacing: 10px;
    margin-top: 100px;
    margin-bottom: 90px;
    font-size: 100px;
    color: white;
    padding-top: 150px;
}

#intro span {
    color: #c62d70;
}

#intro p {
    font-size: 20px;
    border: 8px solid white;
    border-radius: 10px;
    padding: 30px;
    margin: 0 70px;
    color: #c62d70;
    letter-spacing: 2px;
}

#intro p span {
    color: white;
}

#arrow {
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    padding-bottom: 20px;
}

#arrow i {
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    color: #c62d70;
}
/* End Header Section */

/* Start About Me Section */
#about {
    margin-bottom: 50px;
}

#about h2, .heading {
    text-align: center;
    margin: 30px 0 20px 0;
    font-size: 30px;
    color: #e866a2;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#about .card-container {
    border: 1px solid #e866a2;
    border-radius: 10px;
    box-shadow: 5px 5px 20px darkgray;
    margin: 0 80px;
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
}

.avatar-image {
    margin: 50px;
    border-radius: 5px;
}

.avatar-image img {
    width: 300px;
    height: 350px;
}

#about .about-content {
    margin-top: 20px;
    padding-right: 10px;
}

#about .about-content p {
    line-height: 22px;
}
/* End About Me Section */

/* Start Projects Section */
#projects {
    background-color: black;
    background-image: url(./assets/images/banner.webp);
}
/* End Projects Section */

/* Start skills Section */
#skills {
    margin: 40px 0; 
}

#skills .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#skills .icons i {
    margin: 0 50px;
    padding: 20px 0;
}

#skills .icons p {
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}

.code-logo {
    background-color: pink;
    margin: 0 30px;
    border-radius: 50%;
    padding: 15px;
}

/* End Projects Section */


/* Start Footer Section */
footer {
    padding: 40px;
    color: black;
    border-top: 2px solid #e866a2;
}

.top-footer {
    display: flex;
    justify-content: space-evenly;
}

.top-footer h2 {
    color: #c62d70;
    font-size: 30px;
}

.social {
    font-size: 30px;
}

.social a {
    background-color: pink;
    border-radius: 50%;
    padding: 5px 12px;
}

.social a i {
    color: white;
    font-size: 20px;
}

.bottom-footer {
    text-align: center;
    margin-top: 20px;
}

.links {
    margin-bottom: 20px;
}

.links a  {
    color:#e866a2;
}

.links a span {
    color: black;
}

.links a:hover {
    color: #c62d70;
}
/* End Footer Section */